<div style="text-align:right; background-color: black; color: white; padding: 0.5rem;">
<span style="font-size: 1.5rem;">The Salteo Magazine</span><br>
<span style="font-size: 0.8rem; font-style: italic;">Written and Edited by Charlie</span>
<hr style="white;"></hr>
<span>  
<a href="/" style="color:white;">Home</a> |
  <a href="/Browse" style="color:white;">Browse</a> |
  <a href="/About" style="color:white;">About</a> |
  <a href="/Contact" style="color:white;">Contact</a> |
  <a href="/Subscribe" style="color:white;">Subscribe</a> |
  <a href="/Support" style="color:white;">Support</a> |
</span>
</div>



