
<br>
<div style="text-align:left; background-color: LightGray; color: black; padding: 0.5rem;">

<span style="font-size: 0.75rem;">

<b>Disclaimer:</b> The opinions expressed in this personal employee blog are solely those of the writer and not of Antleo Consulting. If you would like to report a concern with anything published on this page, use the form <a href="https://charlie.antleo.com/Contact">on this page</a> to reach out to the writer, or <a href="https://antleo.com/contact/">click here to escalate</a> to the Human Resources department. Rest assured, we take your concerns seriously and will follow through with appropriate disciplinary/corrective actions.

</span>
</div>