<style>
      .cjbutton {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }
    </style>


<span>
  <a href="/" class="cjbutton"><b>Home</b></a> | 
  <a href="/Browse" class="cjbutton">Browse</a> |
  <a href="/About" class="cjbutton">About</a> |
  <a href="/Contact" class="cjbutton">Contact</a> |
  <a href="/Subscribe" class="cjbutton">Subscribe</a> |
  <a href="/Support" class="cjbutton">Support</a> |
</span>
<hr>