<!--Div starts on a new line, span does not. But div does not display any text directly as such, so used span inside. Also, I'm not using the links styled as buttons as it involves too much css coding and experimentation; also for a tags the color style needs to be within the tag and not within div as it does not work otherwise; yet color also needs to be within div for the spacers-->
<div style="text-align:right; background-color: black; color: white; padding: 0.5rem;">
<span>  
  <details>
  	<summary style="color:white;"><b>Menu</b></summary>
  	<a href="/Browse" style="color:white;"><b>Categories</b></a> |
	<a href="/About" style="color:white;"><b>About</b></a> |
 	<a href="/Contact" style="color:white;"><b>Contact</b></a> |
  	<a href="/Subscribe" style="color:white;"><b>Subscribe</b></a> |
  	<a href="/Support" style="color:white;"><b>Support</b></a> |
</details>
</span>
</div>

