<style>
      .cjbutton {
        background-color: black;
        border: none;
        color: white;
        padding: 0.5rem 0.5rem 0.5rem 0.5 rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        margin: 4px 2px;
        cursor: pointer;
      }
    </style>


<span>
  <a href="/" class="cjbutton"><b>Home</b></a>
  <a href="/Browse" class="cjbutton">Browse</a>
  <a href="/About" class="cjbutton">About</a>
  <a href="/Contact" class="cjbutton">Contact</a>
  <a href="/Subscribe" class="cjbutton">Subscribe</a>
  <a href="/Support" class="cjbutton">Support</a>
</span>
<hr>